<!-- Services Section -->
    <section id="best-valladolid">
        <div class="container">
        <center><img style="margin-bottom: 20px" src="/css/2021_style/img/logos/BESTlogoBlanco.png"></center>
        <!--center><h2 class="section-heading">Quiénes somos</h2></center-->
        <p>BEST Valladolid es el grupo local de BEST de la Universidad de Valladolid y fue fundado
            en el año 1994.</p>
        <p>Durante estos 20 años de existencia, hemos trabajado con un objetivo constante: poner
            toda nuestra fe, emoción
            y entusiasmo en todo lo que hacemos para lograr que nuestros proyectos sean un éxito.</p>
        <p>BEST Valladolid es un grupo que siempre ha buscado grandes metas y desafíos y estamos
            siempre preparados para
            otros aún más grandes.</p>
        <p>Nuestro grupo local está formado por cerca de 30 miembros activos de diferentes carreras
            universitarias basado
            en el trabajo en equipo.</p>
        <p>Todos nosotros somos estudiantes universitarios, y dedicamos parte de nuestro tiempo
            libre a BEST.</p>
        <p>Aproximadamente cada 15 días nos reunimos para hablar de nuestros próximos eventos donde
            contamos los avances
            que han tenido lugar en los últimos días, aunque la mayoría de nuestro trabajo lo realizamos vía online o
            a través del correo electrónico.</p>
            
        <center><a href="https://bestvalladolid.org" class="page-scroll btn btn-xl">BEST Valladolid</a></center>
        </div>
    </section>