<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <center><h2 class="section-heading">Sobre el evento</h2></center>
            <p>La pandemia ha cambiado por completo la universidad, esto nos da tanto a estudiantes como a profesores nuevas oportunidades pero también nuevos desafíos. 

            </p>
            
            <p>Por eso desde BEST Valladolid, y con la ayuda del Centro de Enseñanza VirtUva vamos a realizar la Semana del Ingenio BEST, un evento online en el que podrás participar y proporcionar ideas con las que podamos ayudar a crear una universidad al alcance de todos y a la altura de los desafíos del futuro, tanto si eres profesor como alumno.

            </p>

            <p>¿Cómo participar?
            Si eres estudiante o personal docente de la UVa, simplemente tienes que entrar en la extensión del campus virtual <a href="https://extension.campusvirtual.uva.es/course/view.php?id=8571" target="_blank">a través de este enlace.</a>

            </p>

            <p>Una vez allí, puedes rellenar una encuesta en la que te propondremos preguntas sobre ĺa educación en la universidad tras la pandemia hasta el día 3 de mayo.

            </p>

            <p>¡Pero esto no termina ahí! No dudes en inscribirte también en las diferentes sesiones de debate. Queremos juntar tanto a profesores y alumnos para organizar un debate en el que se aporten ideas de forma constructiva y equilibrada con el fin de intentar mejorar la universidad. Con los datos de la encuesta y de las sesiones de debate, crearemos un report que enviaremos a la universidad.

            </p>

            <p>¿A qué esperas? <a href="https://extension.campusvirtual.uva.es/course/view.php?id=8571" target="_blank">¡Inscríbete en las sesiones!</a>

            </p>
            <center><a href="https://extension.campusvirtual.uva.es/course/view.php?id=8571" class="page-scroll btn btn-xl">Inscripciones</a></center>
            </div>

    </section>