<!DOCTYPE html>
<html>

  {% include 2021_data/head.html %}


    <body id="page-top" class="index">

    {% include 2021_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">SiB 2021<br></div>
                <div class="intro-lead-in">Semana del ingenio BEST - BEST Valladolid</div>
                <div class="intro-lead-in">Del 30 de abril al 3 de mayo de 2021</div>
                <a href="#intro" class="page-scroll btn btn-xl">Información</a>
            </div>
        </div>
    </header>

    {% include 2021_data/intro.html %}
    {% include 2021_data/calendar.html %}
    {% include 2021_data/bestvalladolid.html %}
    {% include 2021_data/sponsors.html %}
    {% include 2021_data/contact.html %}
    {% include 2021_data/footer.html %}
    {% include 2021_data/js.html %}

    </body>
</html>